@model IEnumerable<ApplicationMoniteringApplication.Models.IndexFilteredModel>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" />

<script>
    $(document).ready(function () {

         $("#btnSave").click(function () {
            var duration = $(Duration).val();
            var category = $(Category).val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetFilteredData")',
                data: { Duration: duration, Category: category },
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (data) {
                    $('#tblJobDetails_wrapper').remove();
                    $("#tblLongRunJob").find('tbody').find('tr').remove();
                    $("#tblMaxAppFailure").find('tbody').find('tr').remove();
                    $('#tblRecurringJobFailure').find('tbody').find('tr').remove();
                    $('#tblPriorityIncident').find('tbody').find('tr').remove();
                    $('#tblJobDetails').hide();

                    var items = '';
                        $.each(data, function (i, item) {
                            $('#notFound').hide();
                            if (category == "1") {
                                $('#tblMaxAppFailure').hide();
                                $('#tblRecurringJobFailure').hide();
                                $('#tblPriorityIncident').hide();
                                $('#tblLongRunJob').show();

                                var rows = "<tr>"
                                    + "<td class='prtoducttd'>" + item.ApplicationName + "</td>"
                                    + "<td class='prtoducttd'>" + item.JobName + "</td>"
                                    + "<td class='prtoducttd'>" + item.FilterOn + "</td>"
                                    + "</tr>";

                                $('#tblLongRunJob tbody').append(rows);
                            }
                            if (category == "2") {
                                $('#tblLongRunJob').hide();
                                $('#tblRecurringJobFailure').hide();
                                $('#tblPriorityIncident').hide();
                                $('#tblMaxAppFailure').show();

                                var rows = "<tr>"
                                    + "<td class='prtoducttd' hidden>" + item.ApplicationNo + "</td>"
                                    + "<td class='prtoducttd'>" + item.ApplicationName + "</td>"
                                    + "<td class='prtoducttd pointer'>" + item.FilterOn + "</td>"
                                    + "</tr>";

                                $('#tblMaxAppFailure tbody').append(rows);
                            }
                            if (category == "3") {
                                $('#tblLongRunJob').hide();
                                $('#tblMaxAppFailure').hide();
                                $('#tblPriorityIncident').hide();
                                $('#tblRecurringJobFailure').show();

                                var rows = "<tr>"
                                    + "<td class='prtoducttd' hidden>" + item.ApplicationNo + "</td>"
                                    + "<td class='prtoducttd'>" + item.ApplicationName + "</td>"
                                    + "<td class='prtoducttd'>" + item.JobName + "</td>"
                                    + "<td class='prtoducttd pointer'>" + item.FilterOn + "</td>"
                                    + "</tr>";
                                $('#tblRecurringJobFailure').append(rows);
                            }
                            if (category == "4") {
                                $('#tblLongRunJob').hide();
                                $('#tblMaxAppFailure').hide();
                                $('#tblRecurringJobFailure').hide();
                                $('#tblPriorityIncident').show();

                                var rows = "<tr>"
                                    + "<td class='prtoducttd'>" + item.ApplicationName + "</td>"
                                    //+ "< a href = '#' onClick = 'window.open('http://www.w3schools.com','_blank','toolbar=yes, scrollbars=yes, resizable=yes, top=500, left=500, width=400, height=400");return false">Link text</a>"
                                    + "<td class='pointer'>" + item.JobName + "</td>"
                                    //+ "<asp:LinkButton ID='Incident' runat = 'server' OnClick = 'LinkButton1_Click' >" + item.JobName + "</asp:LinkButton>"
                                    + "<td class='prtoducttd'>" + item.FilterOn + "</td>"
                                    + "</tr>";
                                $('#tblPriorityIncident').append(rows);
                            }
                        });
                },
                error: function () {
                    $("#tblLongRunJob").find('tbody').find('tr').remove();
                    $("#tblMaxAppFailure").find('tbody').find('tr').remove();
                    $('#tblRecurringJobFailure').find('tbody').find('tr').remove();
                    $('#tblPriorityIncident').find('tbody').find('tr').remove();

                    $('#tblMaxAppFailure').hide();
                    $('#tblRecurringJobFailure').hide();
                    $('#tblPriorityIncident').hide();
                    $('#tblLongRunJob').hide();

                    alert("Please enter valid input");
                }
            });
            return false;
        });

            $(document).on('click', '#tblMaxAppFailure tr', function () {
            var tableData = $(this).children("td").map(function () {
                return $(this).text();
            }).get();
            var duration = $(Duration).val();
            var options = { "backdrop": "static", keyboard: true };
             $.ajax({
                type: "GET",
                url: '@Url.Action("GetJobData")',
                 data: { Id: $.trim(tableData[0]), Duration: duration },
                dataType: "json",
                 contentType: "application/json; charset=utf-8",
                 success: function (data) {
                     debugger;
                     //$("#tblJobDetails").find('tbody').find('tr').remove();
                     $('#tblJobDetails_wrapper').remove();
                     //$("#tblJobDetails").remove();


                     var table_struct = "<table id='tblJobDetails'><thead><tr><th >Application Name</th><th>Job Name</th><th>Start Time</th><th >End Time</th><th >RunTime</th><th >Error Message</th></tr></thead ><tbody>";
                     var rows="";
                     $.each(data, function (i, item) {
                         //debugger;

                         var row = "<tr>"
                             + "<td >" + item.ApplicationName + "</td>"
                             + "<td  >" + item.JobName + "</td>"
                             + "<td   >" + item.StartTime + "</td>"
                             + "<td  >" + item.EndTime + "</td>"
                             + "<td  >" + item.Runtime + "</td>"
                             + "<td   >" + item.ErrorDetails + "</td>"
                             + "</tr>";

                         rows = rows + row;

                     });
                     var tbl = "</tbody></table > ";
                     var result = table_struct + rows + tbl;
                     $('.col-md-12').append(result);
                     //$('#tblJobDetails').show();
                     new DataTable('#tblJobDetails');
                 },
                 error: function () {
                     $('#tblJobDetails').hide();
                 }
             });
            });

        $(document).on('click', '#tblRecurringJobFailure tr', function () {
            var tableData = $(this).children("td").map(function () {
                return $(this).text();
            }).get();
            var duration = $(Duration).val();
            var options = { "backdrop": "static", keyboard: true };
             $.ajax({
                type: "GET",
                url: '@Url.Action("GetApplicationJobData")',
                 data: { Id: $.trim(tableData[0]), JobId: $.trim(tableData[2]), Duration: duration },
                dataType: "json",
                 contentType: "application/json; charset=utf-8",
                 success: function (data) {
                     debugger;
                     //$("#tblJobDetails").find('tbody').find('tr').remove();
                     $('#tblJobDetails_wrapper').remove();
                     //$("#tblJobDetails").remove();


                     var table_struct = "<table id='tblJobDetails'><thead><tr><th >Application Name</th><th>Job Name</th><th>Start Time</th><th >End Time</th><th >RunTime</th><th >Error Message</th></tr></thead ><tbody>";
                     var rows = "";
                     $.each(data, function (i, item) {
                         //debugger;

                         var row = "<tr>"
                             + "<td >" + item.ApplicationName + "</td>"
                             + "<td  >" + item.JobName + "</td>"
                             + "<td   >" + item.StartTime + "</td>"
                             + "<td  >" + item.EndTime + "</td>"
                             + "<td  >" + item.Runtime + "</td>"
                             + "<td   >" + item.ErrorDetails + "</td>"
                             + "</tr>";

                         rows = rows + row;

                     });
                     var tbl = "</tbody></table > ";
                     var result = table_struct + rows + tbl;
                     $('.col-md-12').append(result);
                     //$('#tblJobDetails').show();
                     new DataTable('#tblJobDetails');
                 },
                 error: function () {
                     $('#tblJobDetails').hide();
                 }
             });
        });

        $(document).on('click', '#tblPriorityIncident tr', function () {
            var tableData = $(this).children("td").map(function () {
                return $(this).text();
            }).get();

             $.ajax({
                type: "GET",
                url: '@Url.Action("GetIncidentData")',
                 data: { id: $.trim(tableData[1]) },
                dataType: "json",
                 contentType: "application/json; charset=utf-8",
                 success: function (data) {
                     $.each(data, function (i, item) {
                     document.getElementById("appName").innerHTML = item.ApplicationName;
                     document.getElementById("incidentName").innerHTML = item.IncidentName;
                     document.getElementById("incidentDetail").innerHTML = item.Details;
                     document.getElementById("priority").innerHTML = "P"+item.Priority;
                     document.getElementById("createdOn").innerHTML = item.CreatedOn;
                     document.getElementById("title").innerHTML = item.Title;
                     document.getElementById("createdBy").innerHTML = item.CreatedBy;
                     $('#incidentModal').modal('show');
                     });
                 },
                 error: function () {
                     $('#incidentModal').modal('show');
                 }
             });
        });

    });
</script>

<style>
   
    .table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        .table td, .table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .table tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }

    #incidentModalHeader {
        background-color: #04AA6D;
        color: white;
    }

    .pointer {
        text-decoration: underline;
        cursor: pointer;
        color: seagreen;
    }

       .pointer:hover {
            color: #076d34;
        }
</style>

<div style="margin-top:10px">
    <div class="col-md-12">
        <div class="panel panel-success">
            @*<div class="panel-heading">
                    <h3 class="panel-title">Please select category & duration.</h3>
                </div>*@
            <div class="panel-body">
                <div class="form-group col-md-5">
                    <label>Category : </label>
                    <select name="Category" id="Category" class="form-control">
                        <option value="0">Please Select</option>
                        <option value="1">Applications with longest running job</option>
                        <option value="2">Applications with maximum number of failures</option>
                        <option value="3">Maximum number of recurring job failures</option>
                        <option value="4">P1/P2 incidents</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label>Duration : </label>
                    <select name="Duration" id="Duration" class="form-control">
                        <option value="0">Please Select</option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value="3">Monthly</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <div style="float: unset; display: inline-block; margin-top: 25px; ">
                        <input class="btn" name="submitButton" id="btnSave" value="Filter" type="button" style="background-color: #04AA6D; color: white; font-size: 14px; ">
                    </div>
                </div>
            </div>
        </div>
        <table id="tblMaxAppFailure" class="table table-bordered table-striped table-responsive table-hover" hidden>
            <thead>
                <tr>
                    <th align="left" class="productth" hidden>Application No.</th>
                    <th align="left" class="productth">Application Name</th>
                    <th align="left" class="productth">No of Failure</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <table id="tblLongRunJob" class="table table-bordered table-striped table-responsive table-hover" hidden>
            <thead>
                <tr>
                    <th align="left" class="productth">Application Name</th>
                    <th align="left" class="productth">Job Name</th>
                    <th align="left" class="productth">Runtime</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <table id="tblPriorityIncident" class="table table-bordered table-striped table-responsive table-hover" hidden>
            <thead>
                <tr>
                    <th align="left" class="productth">Application Name</th>
                    <th align="left" class="productth pointer">Incidents</th>
                    <th align="left" class="productth">Priority</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <table id="tblRecurringJobFailure" class="table table-bordered table-striped table-responsive table-hover" hidden>
            <thead>
                <tr>
                    <th align="left" class="productth" hidden>Application No.</th>
                    <th align="left" class="productth">Application Name</th>
                    <th align="left" class="productth">Job Name</th>
                    <th align="left" class="productth">No of Failure</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>


    </div>
    <div class="modal fade" id="incidentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" id="incidentModalHeader">
                    <h3 class="modal-title" id="exampleModalLongTitle">Incident Detail</h3>                   
                </div>
                <div class="modal-body">
                    <div class="container-fluid" id="details">
                        <div class="row">
                            <b>
                                <div class="col-md-12" id="incidentName" style="color:green"></div>
                            </b>
                        </div>
                        <div class="row">
                            <b>
                                <div class="col-md-12" id="title" style="color: green"></div>
                            </b>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Application Name</div>
                            <div class="col-md-4" id="appName"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Incident Detail</div>
                            <div class="col-md-6" id="incidentDetail"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Priority</div>
                            <div class="col-md-4" id="priority"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Created On</div>
                            <div class="col-md-4" id="createdOn"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Created By</div>
                            <div class="col-md-4" id="createdBy"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
